.search-wrap
	%section{:'ng-controller' => 'ytsController'}
		.search-box
			%input{:type => "text", :placeholder => "Which video are you looking for?", :'ng-model' => "query"}/
		.search-results
			%ul.no-ul.m0.p0
				%li{:'ng-repeat' => "video in ytvideos"}
					{{ video.title }}
					%a{:'ng-click' => "enqueue(video)"} Queue video

	%section
		%strong Queue
		%a{:'ng-click' => "sync()"} Save
		%ul.no-ul.m0.p30
			%li{:'ng-repeat' => "video in playlist track by $index"}
				{{ video.title }}
				%a{:'ng-click' => "remove($index)"} Remove

.videos-grid
	%jk-video{:'ng-repeat' => "video in playlist track by $index", :video => "video", :'repeat-edge' => true}
