.search-wrap
	%section{:'ng-controller' => 'ytsController'}
		.search-box
			%input{:type => "text", :placeholder => "Which video are you looking for?", :'ng-model' => "query", :id => "q", :autocomplete => "off"}/
		.search-results
			%ul.no-ul.m0.p0.ul-ib
				%li{:'ng-repeat' => "v in ytvideos"}
					%yt-video{:video => 'v', :add => "enqueue(v)"}

	%section
		%strong Queue
		%a{:'ng-click' => "sync()"} Save
		%ul.no-ul.m0.p30
			%li{:'ng-repeat' => "video in playlist track by $index"}
				{{ video.title }}
				%a{:'ng-click' => "remove($index)"} Remove

.player

.wrap
	.tx-r
		%button{:'ng-click' => "sync()"} Save
	.videos-grid
		%jk-video{:'ng-repeat' => "video in playlist track by $index", :video => "video", :remove => 'remove($index)', :'repeat-edge' => true}
